name: Build and Deploy Blog

on:
  workflow_dispatch:
  push:
    branches:
      - main  # Change this to your main branch name
    paths:
      - 'blog/**'

env:
  AZURE_STORAGE_ACCOUNT: ""
  AZURE_RESOURCE_GROUP: ""

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Check for deploy.json existence
        run: |
          if [ ! -f "deploy.json" ]; then
            echo "Error: deploy.json not found. Stopping the workflow."
            exit 1
          fi
          if [ ! -f "config.json" ]; then
            echo "Error: config.json not found. Stopping the workflow."
            exit 1
          fi

      - name: Install Hugo
        working-directory: ./.devcontainer/
        run: |-
          ./hugo-install.sh

      - name: 'Login via Azure CLI'
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZ_SP_CREDENTIALS }}

      - name: 'Environment variables'
        run: |-
          AZURE_RESOURCE_GROUP=$(cat deploy.json | jq -r '.resourceGroupName')
          AZURE_STORAGE_ACCOUNT=$(az storage account list --resource-group $AZURE_RESOURCE_GROUP --query "[0].name" -o tsv)
          echo "AZURE_STORAGE_ACCOUNT=$AZURE_STORAGE_ACCOUNT" >> $GITHUB_ENV
          echo "AZURE_RESOURCE_GROUP=$AZURE_RESOURCE_GROUP" >> $GITHUB_ENV

      - name: Download Almost Static ActivityPub Utilities
        run: |
          VERSION=0.0.5
          wget https://github.com/mahomedalid/almost-static-activitypub/releases/download/$VERSION/activitypub-utils-$VERSION-linux-x64.tar.gz
          mkdir -p ~/.activitypubdotnet
          tar -xzvf activitypub-utils-$VERSION-linux-x64.tar.gz  -C ~/.activitypubdotnet/
          ln -s ~/.activitypubdotnet/activitypub-utils-$VERSION-linux-x64/ ~/.activitypubdotnet/latest
          export PATH=$PATH:~/.activitypubdotnet/latest

      - name: Build blog with Hugo
        working-directory: ./blog
        run: |-
          export PATH=$PATH:~/.activitypubdotnet/latest
          ../utils/11-build.sh

      - name: Deploy to Azure Storage
        working-directory: ./blog
        run: |-
          export AZURE_STORAGE_KEY=$(az storage account keys list -g $AZURE_RESOURCE_GROUP -n $AZURE_STORAGE_ACCOUNT --query [0].value --output tsv)
          ../utils/12-deploy.sh

      - name: Broadcast notes
        working-directory: ./blog
        run: |-
          export AZURE_STORAGE_KEY=$(az storage account keys list -g $AZURE_RESOURCE_GROUP -n $AZURE_STORAGE_ACCOUNT --query [0].value --output tsv)
          export PATH=$PATH:~/.activitypubdotnet/latest
          ../utils/13-broadcast-notes.sh
